/*--------------------------------------*/
/*  Structure SASS                      */
/*--------------------------------------*/

/*
--doc:
      _structure_doc.scss
--vendor:
      --bootstrap
      --fontawesome
--base:
      _reset.scss
      _typography.scss
--modules:
      _variable.scss
      _functions.scss
      _mixin.scss
      _unitconversion.scss
--components:
      _button.scss
      _form.scss
      _grid.scss
      _images.scss
      _list.scss
--partials:
      _header.scss: style for header site( navigation, logo,...)
      _body.scss: style for body site
      _footer.scss: style for footer site
      _sidebar.scss style for sidebar site
--page:
      _home.scss
--browser:
      _ie.scss
      _safari.scss

*/
